.App {
    display: flex;
    flex-direction: column;
}

.PageContent {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 16px;
    margin-left: 100px;
    margin-right: 100px;
}