@font-face {
    font-family: "Jupiteroid-Bold";
    src: url("../fonts/Jupiteroid-Bold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Jupiteroid-Regular";
    src: url("../fonts/Jupiteroid-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

:root {
    --background-color: #1b1b1e;
    --surface-color: #0a0784;
    --border-color: #8899A6;

    --primary-color: #3c3ac1;
    --primary-hover-color: #FFFFFF;

    --secondary-color: #3a7bc1;
    --secondary-hover-color: #FFFFFF;

    --text-color-light: #FFFFFF;
    --text-color-dark: #000000;

    --warning-color: #84802e;
    --error-color: #842e39;
    --success-color: #3e842e;
    
    --transition-duration: 0.5s;
    --border-radius: 10px;
    --bold-font: "Jupiteroid-Bold", "Times New Roman";
    --regular-font: "Jupiteroid-Regular", "Times New Roman";
}