.LoginFormContainer {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.LoginForm {
    border-top: 3px solid var(--border-color);
    border-bottom: 3px solid var(--border-color);
    background: #3f3f5b;
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    color: var(--text-color-light);
    padding: 16px;
    border-radius: 10px;
    font-family: var(--bold-font);
    font-size: large;
}

.LoginFormRow {
    display: flex;
}

.LoginFormRow > * {
    flex: 1;
}

.LoginForm input {
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    font-family: var(--regular-font);
}