.HamburgerMenu {
    position: relative;
}

.Menu {
    position: absolute;
    top: calc(100% + 8px);
    right: 0;
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    border-top: 3px solid var(--border-color);
    border-bottom: 3px solid var(--border-color);
    overflow: hidden;
}

.MenuItem {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    color: var(--text-color-light);
}